.DS_Store
.Rhistory
.Rproj.user/
*.o
*.so
legacy/
.Rproj.user
playground.R
Tune/XLearner/tuneXRsparseT2weak12N1000.csv
*~
.*
*.out
*.Rout
*.csv
*#
tests/crashes/Rdies.R

SimulationsStudies/ACIC2016/data/data/readme.txt
tests/ConfidenceIntervals/